
#h1{
    color: brown;
    font-style: italic;
}
ol{
    background-color: beige;
}
#ol{
    color: brown;
    font-style: italic;
}
#ul{
    color: brown;
    font-style: italic;
}
#label{
    color: brown;
    font-style: italic;
}
p{
    background-color: blanchedalmond;
    color: brown;
    font-style: italic;
}
#me{
    color: brown;
    font-style: italic;
}